<%- include('partials/header') %>

<%if (entries.length) { %>

    <div class="col-md-4 offset-md-4">
        <% entries.forEach(function (entry) { %>
            <div class="card my-2">
                <div class="card-header bg-success text-white">
                    <p><%= entry.published%></p>
                </div>
                <div class="card-body">
                    <h2><%= entry.title%></h2>
                    <p><%= entry.content%></p>
                </div>
            </div>
        <% }) %>
    </div>

<% } else { %>
    <p>No entries! <a href="/new-entry">Add One!</a></p>
<% } %>

<%- include('partials/footer') %>